body{
 position: relative;
 background-color: #fff4e4;
 z-index: -1;
}
body::before{
  content: "";
  display: block;
  height: calc(100% + 250px);
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url(../img/logo2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.7;
}
/* 상단영역 */
header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
header div.wrap {
  
}
header div.wrap nav {
  display: flex;
  align-items: center;
  column-gap: 45px;
  justify-content: right;
  padding-top: 20px;
}
header div.wrap nav h1 {
  justify-self: left;
}
header div.wrap nav h1 a{
  font-size: 0;
}
header div.wrap nav h1 a:before {
  content:"";
  background-image: url(../img/logo.png);
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(20deg);
  animation-name: logo;
  animation-duration: 10s;
/*   animation-direction: alternate; */
  animation-iteration-count: 2;
  position: absolute;
  left: 10px;
  top:10px;
}
@keyframes logo{
  0%{
    transform:rotateY(0deg);
  }
  100%{
     transform:rotateY(360deg);
  }
}
header div.wrap nav h1 a::after{
}
header div.wrap nav ul.gnb {
  
}
header div.wrap nav ul.gnb li {
  
}
header div.wrap nav ul.gnb li a {
  padding: 0 10px;
  line-height: 2;
  display: block;
  color: #a5854f;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}
header div.wrap nav ul.gnb li:first-child a {
display: none;
}
header div.wrap nav ul.gnb li:hover a{
  color: #d94f0b;
}
header div.wrap nav ul.gnb li a::before{
  content: "";
  display: block;
  width: 0%;
  border-top: 1px solid #fc6f1a;
  transition: 0.5s;
}
header div.wrap nav ul.gnb li a:hover::before{
  width: 100%;
}
header div.wrap nav ul.enb {
  
}
header div.wrap nav ul.enb li {
  
}
header div.wrap nav ul.enb li a {
  padding: 5px;
}
/* 어사이드 */
aside{
  position: fixed;
  right: 20px;
  top: calc(50% - 146px);
  z-index: 1;
}
aside ul{

}
aside ul li{
  
}
aside ul li.rogo:nth-child(1) a::before{  
  content: "보배학당";  
  position: absolute;
  font-size: 14px;
  left: -70px;
  top: 10px;
  display: block;
  width: 100px;
  height: 10px;
  font-weight: bold;
}
aside ul li:nth-child(2) a::before{  
  content: "원장소개";  
  position: absolute;
  font-size: 14px;
  left: -70px;
  top: 44px;
  display: block;
  width: 100px;
  height: 10px;
  font-weight: bold;
}

aside ul li:nth-child(3) a::before{  
  content: "활동";  
  position: absolute;
  font-size: 14px;
  left: -70px;
  top: 72px;
  display: block;
  width: 110px;
  height: 10px;
  font-weight: bold;
}
aside ul li:nth-child(4) a::before{  
  content: "디지털";  
  position: absolute;
  font-size: 14px;
  left: -70px;
  top: 100px;
  display: block;
  width: 110px;
  height: 10px;
  font-weight: bold;
}
aside ul li:nth-child(5) a::before{  
  content: "프로그램";  
  position: absolute;
  font-size: 14px;
  left: -70px;
  top: 128px;
  display: block;
  width: 90px;
  font-weight: bold;
}
aside ul li:nth-child(6) a::before{  
  content: "칼럼";  
  position: absolute;
  font-size: 14px;
  left: -70px;
  top: 156px;
  display: block;
  width: 90px;
  font-weight: bold;
}
aside ul li:nth-child(7) a:before{  
  content: "소통하기";  
  position: absolute;
  font-size: 14px;
  left: -70px;
  top: 185px;
  display: block;
  width: 90px;
  font-weight: bold;
}
aside ul li:not(last-child){
  margin-bottom: 15px;
}
aside ul li a{   
  font-size: 0;
  width: 13px;
  height: 13px;
  display: block;
  background-color: rgba(0,0,0,0.1);
  border-radius: 50%; 
}
aside ul li:not(first-child) a:hover{
  transition: 0.5s ease-in-out;
  background-color: rgba(232, 35, 91, 0.4);
  opacity: 1;
  background-image: url(../img/rogo3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.rogo{
 /*! background-color: rgb(239, 68, 116); */
  width: 50px;
  height: 30px;
  display: block;
  font-size: 0px;
  /*! border-radius: 50%; */
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -5px;
}
.borderB{
 background-color: transparent;
}
aside ul li a::before{
  opacity: .1;
}
aside ul li:not(first-child) a:hover::before{
  opacity: 1;
  color: #fa6e65;
}
aside ul li.rogo a::before{
  opacity: 1;
}
/* 타이틀영역 */
div#title{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);
  min-height: 700px;
  position: relative;
  min-width: 1440px;
}
div#title div.wrap{
  perspective: 3000px;
  min-width: 1440px;
}
div#title div.wrap h2{
  margin-bottom: 30px;
  font-size: 80px;
  animation-name: titleTextUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.19,1,.22,1);
  animation-fill-mode: forwards;
  animation-direction: reverse;
  font-weight: 800;
  text-align: center;
}
@keyframes titleTextUp{
  0%{ /* 처음상태 */
   /*    
    transform: translateY(100%) scale(0.5) rotateY(45deg); 
    transform: rotateY(0deg);
    opacity: 0;
   */
     opacity: 1;
     transform: rotateY(0deg);
  }
  50%{
    /*    
    transform: translateY(0%) scale(0.5) rotateY(45deg);  
    transform: rotateY(0deg)  translateX(500px);
    */
    opacity: 1;
    transform: rotateY(45deg) translateX(0);
  }
  100%{ /* 마지막상태 */
    /*    
    transform: translateY(0%) scale(1) rotateY(0deg); 
    transform: rotateY(0deg)  translateX(500px);
    opacity: 0;
    */
    opacity: 0;
    transform: rotateY(45deg)  translateX(-1200px);
  }
}
div#title div.wrap p{
  border: 1px solid;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  font-size: 30px;
  color: #a5854f;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}
div#title::after{
  content: "scroll down ▼";
  display: block;
  width: 50px;
  height: 100px;
  background-color: #ed0808;
  color: white;
  position: absolute;
  left: calc(50% - 25px);
  bottom: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  animation-name:scroll;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 1.4;
}
@keyframes scroll{
  100%{
    transform:translateY(20%);
  }
}
main {
  
}
/* 어바웃 */
#aboutme {
  height: 100%;
  display: flex;
  align-items: center;
  min-height: 700px;
  /*! background-image: linear-gradient( 180deg, rgba(154,197,229,0) 5.1%, rgb(154,197,229) 31.3% ); */
  position: relative;
  /*! background: linear-gradient(-9deg, #000 10.1%, #a067c3 10.2%, #510ce8 90.1%, #000 90.2%); */
  background-color: #fff4e4;
}
#aboutme div.wrap {
  /*! grid-template-columns: 1fr auto 550px 1fr; */
  /*! grid-template-rows: auto auto auto 1fr; */
  column-gap: 74px;
  row-gap: 20px;
  padding-top: 150px;
}
section{
  position: relative;
}
section::before{
  position: absolute;
  left: 0;
  top: 30px;
  font-size: 50px;
  word-spacing: 20px;
  text-transform: uppercase;
  opacity: 0.2;
  font-weight: bold;
  width: 100%;
  text-align:left;
  /*! text-decoration:underline; */
  margin-left:50px;
}
#aboutme::before{
  content: "about";
}
#product::before{
  content: "action";
}
#business::before{
  content: "business";
    
}
#portfolio::before{
  content: "program";
    
}
#process::before{
  content: "column";
}
#contact::before{
  content: "contact";
}

#aboutme div.wrap h2 {
  grid-column: 2 / span 2;
  grid-row: 2;
  text-align: center;
  /*! width: fit-content; */
  /*! margin: 0 auto; */
  justify-self: center;
  margin-bottom: 68px;
   /*! width: 240px; */
}
#aboutme div.wrap figure{
  grid-column: 2;
  grid-row: 3 / span 2;
  width: 420px;
  height: 420px;
}
#aboutme div.wrap figure img{
  width: 400px;
  height: 420px;
  transform: rotateY(4deg);
  background-size: contain;
  /*! border-radius: 10px; */
  border: 21px solid #0000000d;
  box-shadow: 10px 10px 13px aliceblue;
} 
#aboutme div.wrap figure figcaption{
  display:none;
}
#aboutme div.wrap ul.intro {
  grid-column: 3;
  grid-row: 3;
}
#aboutme div.wrap ul.intro li {
  display: flex;
  margin-bottom: 15px; 
  column-gap: 10px;
}
 #aboutme div.wrap ul.info li:not(last-child) strong {  
  font-size: 0;
  background-color: #ccc;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right:10px;
  background-image: url(../img/em.png);
  background-size: contain;
 }
#aboutme div.wrap ul.info li:nth-child(2) strong{
  background-image: url(../img/t.png);
  background-size: contain;
}
 #aboutme div.wrap ul.info li:last-child strong:before {  
  content:""; 
  font-size: 0;
  background-color: #ccc;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right:10px;
  background-image: url(../img/robot.png);
  background-size: contain;
 }
#aboutme div.wrap ul.intro li:nth-child(1){
 margin-bottom:20px; 
}
#aboutme div.wrap ul.intro li:nth-child(1) p{
  font-size: 30px; 
  width: 100%;
  font-weight: bold;
}
#aboutme div.wrap ul.intro li h3 {
  width: 100px;
  font-size: 20px;
  
  font-weight: bold;
}
#aboutme div.wrap ul.intro li p {
  width: calc(100% - 100px);
  font-size: 16px;
  line-height: 1.4;
}
#aboutme div.wrap ul.info {
  grid-column: 3;
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
#aboutme div.wrap ul.info li {
  
}

/* product */
#product{
  display: flex;
  align-items: center;
  min-height: 700px;
  position: relative;
  background-color: #f4f0df;
}
#product .wrap{
padding-top: 250px;
background-color: #fff4e4;
padding-left:50px;
}
#product .wrap h2{
  /*! margin-top: 20px; */
  /*! margin-bottom: 20px; */
}
#product ul.list{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
#product ul.list li{
  position: relative;
}

#product ul.list li:nth-child(1){

  grid-column: 1;
  grid-row: 1;
}
#product ul.list li:nth-child(2){

  grid-column: 2;
  grid-row: 1 / span 2;
}
#product ul.list li:nth-child(3){

  grid-column: 3;
  grid-row: 1;
}
#product ul.list li:nth-child(4){

  grid-column: 4;
  grid-row: 1;
}
#product ul.list li:nth-child(5){

  grid-column: 1;
  grid-row: 2;
}
#product ul.list li:nth-child(6){

  grid-column: 3 / span 2;
  grid-row: 2;
}
#product ul.list li:nth-child(7){

  grid-column: 1;
  grid-row: 3;
}
#product ul.list li:nth-child(8){
  grid-column: 2;
  grid-row: 3 / span 2;
}
#product ul.list li:nth-child(9){

  grid-column: 4;
  grid-row: 3;
}
#product ul.list li:nth-child(10){

  grid-column: 3;
  grid-row: 3;
}
#product ul.list li figure{
  
}
#product ul.list li figure img{
  width: 100%;
}
#product ul.list li h3{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 27px;
  color: white;
}
#product ul.list li .wrapText{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 50, 237, 0.88);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 11px;
  color: white;
  opacity: 0;
  transition:0.7s;
}
#product ul.list li:hover .wrapText{
   opacity: 1;
}
#product ul.list li .wrapText>*{

}

#product ul.list li .wrapText p{
  
}
#product ul.list li .wrapText a{
  
} 
section#business {
}
section#business div.wrap {
  /*! box-sizing: border-box; */
  width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
}
section#business div.wrap div {
  padding: 0;
}
section#business div.wrap div:before{
  content: "";
  display: block;
  position: absolute;
  bottom: -100px;
  z-index: -1;
  width: calc(100% + ((100vw - 1440px) / 2));
  height: 50%;
  background-color: #fff4e4;
  border-radius: 15px;
}
section#business div.wrap h1 {
  font-size: 120px;
  font-weight: 800;
  padding-top: 100px;
  margin-left: 70px;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  color: #005083;
  animation-name: anih1;
  animation-timing-function: cubic-bezier(1,-0.06,.28,1.69);
  animation-iteration-count: infinite;
  animation-duration: 10s; 
  animation-delay: 9s;
}
@keyframes anih1{
  0% {
    opacity: 30%;
  }
  30% {
          transform: translate(0pX) translateY(2px) scale(92%);
          opacity: 70%;
  }
    50% {
          transform:  translate(1pX) translateY(1px) scale(96%);
          opacity: 80%;
  }
  100% {
    opacity: 100%;
            transform: translate(0pX) translateY(0) scale(103%);;
  }
}


section#business div.wrap p {
  margin-bottom:170px;
 font-size: 22px;
  margin-left: 70px;
  animation-name: anih1;
  animation-timing-function: cubic-bezier(1,-0.06,.28,1.69);
  animation-iteration-count: infinite;
  animation-duration: 10s; 
  animation-delay: 9s;
}

section#business div.wrap div ul.bus{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 130px 8%;
  margin-bottom:100px;
  justify-items: center;
  padding-left: 60px;
}


section#business div.wrap div ul.bus li.giv a{
  content:"";
  width: calc((1200px/ 3) - 30px);
  height: calc((840px/ 2) - 30px);
  box-sizing: border-box;
  background-color: #ccc;
  border-radius: 27px;  
  box-shadow: -6px 8px 12px #807a7a;
  transition: 1s;
  display: grid; 
  grid-template-columns: 100% 1fr;
  grid-template-rows: auto auto auto; 
  gap: 6px;
}
section#business div.wrap div ul.bus li.giv a:hover{
  content:"";
  box-sizing: border-box;
  background-color: #ccc;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 100%;
}
section#business div.wrap div ul.bus li.giv:nth-child(1){
  grid-column: 1;
  grid-row: 1;
  top: 0;
}
section#business div.wrap div ul.bus li.giv:nth-child(2){
  grid-column: 2;
  grid-row: 1;
  top:-60px;
}
section#business div.wrap div ul.bus li.giv:nth-child(3){
  grid-column: 3;
  grid-row: 1;
  top:-130px;
}
section#business div.wrap div ul.bus li.giv:nth-child(4){
  grid-column: 1;
  grid-row: 2;
  top:10px;
}
section#business div.wrap div ul.bus li.giv:nth-child(5){
  grid-column: 2;
  grid-row: 2;
  top:-50px;
}
section#business div.wrap div ul.bus li.giv:nth-child(6){
  grid-column: 3;
  grid-row: 2;
  top:-120px;
}
section#business div.wrap div ul.bus li.giv h3:before{

}
section#business div.wrap div ul.bus li.giv:nth-child(1)>a{
  position: absolute;
  background-image: url(../img/s1.png);
}
section#business div.wrap div ul.bus li.giv:nth-child(2)>a{
  position: absolute;
  background-image: url(../img/s2.png);
}
section#business div.wrap div ul.bus li.giv:nth-child(3)>a{
  position: absolute;
  background-image: url(../img/s3.png);
}
section#business div.wrap div ul.bus li.giv:nth-child(4)>a{
  position: absolute;
  background-image: url(../img/s4.png);
}
section#business div.wrap div ul.bus li.giv:nth-child(5)>a{
  position: absolute;
  background-image: url(../img/s5.png);
}
section#business div.wrap div ul.bus li.giv:nth-child(6)>a{
  position: absolute;
  background-image: url(../img/s6.png);
}
section#business div.wrap div ul.bus li.giv {
 position: relative;
 width: calc(1200px/ 3);
 height: calc(840px/ 2); 
  grid-column: 1;
  grid-row: 1 / span 2;
}
section#business div.wrap div ul.bus li.giv a h3 {
  grid-column: 1;
  grid-row: 3;
  font-weight: 800;  
  height: 20px;
  align-self: end;
  margin-bottom: -35px;
  transition: 5s;
  display: block;
}
section#business div.wrap div ul.bus li.giv a h3:before:hover {
  content:"";
  grid-column: 1;
  grid-row: 1;
  font-weight: 800;  
  height: 100%;
  align-self:start;
  margin-bottom:300px;
 transform: translateY(100px);
}
section#business div.wrap div ul.bus li.giv a i {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.4s;
  position:absolute;
  bottom:0;
  right: -30px;
  opacity: 0;
}
section#business div.wrap div ul.bus li.giv a i::after{
  content:"";
  width: 15px;
  height: 15px;
  background-image:url(../img/arrow.jpg);
  background-size: contain;
  transition: all 3s;
  position:absolute;
  background-position:center;
  z-index: 2;
  bottom: 33px;
  right: 31px;
}
section#business div.wrap div ul.bus li.giv a:hover i {
  opacity: 1;
  transform: translateX(-40px); 
  
}
section#business div.wrap div ul.bus li.giv a button {
  grid-column: 2;
  grid-row: 1;
  font-weight: 800;
  transform: rotate(90deg);
  height: 30px;
  width: 20px;
  margin: 0;
  color: #f39800;
}
section#business div.wrap div ul.bus li.giv a h4 {
  grid-column: 2;
  grid-row: 2; 
  padding-top: 20px;
}

/* 포트폴리오 */
#portfolio {
  display: flex;
  align-items: center;
background-color: #fff4e4;
}
#portfolio .wrap{
position: relative;
}
#portfolio .wrap > h3 { 
  margin-bottom: 25px;
}
#portfolio .wrap .list > button {
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0;
  width: 75px;
  height: 75px;
  top: calc(50% - 32.5px);
}
#portfolio .wrap .list button.slick-prev {
  background-image: url(../img/prev.png);
  left: -40px;
}
#portfolio .wrap .list button.slick-next {
  background-image: url(../img/next.svg);
  right: -40px;
}
#portfolio .wrap .list button::before {
  display: none;
}
#portfolio .wrap ul.list li img {
  border-radius: 15px;
}

#portfolio .wrap ul.list li div{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  margin: 31px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
#portfolio div.wrap ul.list li p { 
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 10px;
  margin: 0;
}

#portfolio div.wrap {
  flex-direction: column;
  align-items: center;
  padding-top: 240px;
  min-width: 1440px;
}

#portfolio div.wrap h4{
  margin-left: 25px;
}
#portfolio div.wrap h2 {
}
#portfolio div.wrap p{
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.2;
  margin-left: 25px;
}
#portfolio div.wrap ul.list {
  gap: 30px;
  width: 100%;
}
#portfolio div.wrap ul.list div.slick-track li h3 {
  text-align: center;
  height: 40px;
  transition: 1s;
}
#portfolio div.wrap ul.list div.slick-track li:nth-child(2) h3 {

  grid-column: 1;
  grid-row: 1;
}
#portfolio div.wrap ul.list li figure {
  grid-column: 1;
  grid-row: 1 / span 2;
}
#portfolio div.wrap ul.list li:nth-child(2) figure{
  grid-column: 2;
  grid-row: 1 / span 2;
}

#portfolio div.wrap ul.list li figure img {
  display: block;
  width: 250px;
  height: 250px;
}

@keyframes  slide{
  100%{
    transform: rotateY(190deg);
  }
}
#portfolio div.wrap ul.list li ul.sub {
  width: auto;
  z-index: 1;
}
#portfolio div.wrap ul.list li:nth-child(2) ul.sub{
  grid-column: 1;
  grid-row: 2;
}
#portfolio div.wrap ul.list li ul.sub>li {
  color: #fff;
}
#portfolio div.wrap ul.list li:nth-child(2) ul.sub > li{
  
}
#portfolio div.wrap ul.list li ul.sub li.work{
  display: flex;
}
#portfolio div.wrap ul.list li ul.sub li strong {
  display: inline-block;
  color: #000;
}
#portfolio div.wrap ul.list li ul.sub li ul {
 
}
#portfolio div.wrap ul.list li ul.sub li ul li {
 letter-spacing: 0.3px;
}
#portfolio div.wrap ul.list li ul.sub li a {
  color: white;
  transition: 0.2s;
}
#portfolio div.wrap ul.list li ul.sub li a:first-child{
  margin-right:10px;
}
#portfolio div.wrap ul.list li ul.sub li a::before{
  content: "";
  background-image: url(../img/view.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -1px;
  background-size: contain;
  margin-left: 4px;
  transition: 0.4s;
}
#portfolio div.wrap ul.list li ul.sub li a:hover::before{
  transform: translateX(3px);
}
#portfolio div.wrap ul.list li ul.sub li a:first-child::before{
  background-image: url(../img/view.svg);
  opacity: 0.8;
}
#portfolio div.wrap ul.list li ul.sub li a:hover::before{
  background-image: url(../img/view-black.svg);
  transform: translateX(5px);
}
#portfolio div.wrap ul.list li ul.sub li a:hover{
  background-color: #FFD100;
  color: #111;
}
/* 프로세스 */
/* news */
#process{ 
  background-color: #fff4e4;

}
#process div.wrap{  
  display: flex;
  justify-content: space-between;
  flex-direction:column;
  padding: 0 20px;
}
#process div.wrap .ly{  
  justify-content: space-between;
  display: flex;
  padding-top:250px;
  padding-bottom:30px;
}
#process div.wrap .ly h2{  
  margin: 12px 0 20px;
  overflow: hidden;
  
}
#process div.wrap ly a{
  position: absolute;
  font-size: 15px;
  opacity: 0.6 !important;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  right: 0;
  margin-right: 50px;
  padding-top: 17px;
  font-weight: 900;
}
#process div.wrap a:hover{
  color:red;
  opacity:1;
}
#process div.wrap a:after:hover{
 content:"   >";
 color:red;
}
#process div.wrap a:after{
  content:"";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../img/next.svg);
  position: absolute;
  text-align: center;
}
#process div.wrap ul.wnews{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#process div.wrap ul.wnews li{
 
}
#process div.wrap ul.wnews li a{
  
}
#process div.wrap .wnews li a span{
}
#process div.wrap .wnews li a h3{
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  font-family: rixsingose-pro, sans-serif;
  color: #111;
  line-height: 1.5;
}
#process div.wrap .wnews li span.date{
  font-size: 12px;
  line-height: 4;
  color: #888888;
  font-weight:bold;
  width: 100%;
  height: auto;
}
#process div.wrap .wnews li div.img{
  margin-top: 40px;
  width: 370px;
  height: 555px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
#process div.wrap .wnews li:nth-of-type(1) div.img{
   background-image: url(../img/1.png);
}
#process div.wrap .wnews li:nth-of-type(2) div.img{
   background-image: url(../img/2.png);
}
#process div.wrap .wnews li:nth-of-type(3) div.img{
  background-image: url(../img/3.png);
}
#process div.wrap .wnews li:nth-of-type(4) div.img{
   background-image: url(../img/4.jpg);
}
/* 컨텍 */
#contact{
 height:auto;
 display: flex;
 align-items: center;
 background-color: #FFF4E4;
}
#contact .wrap{
 flex-direction: column;
 padding-top: 200px;
 min-width: 1440px;
}
#contact p{
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size:30px;
  font-family: "Jua", sans-serif;
  font-weight: 800;
  font-style: normal;
  flex-direction: column;
}
 #contact .con ul.list {
   position: relative;
   color: #fff;
   font-weight: bold;
   z-index: 2;
   grid-column: 1;
   grid-row: 1 / span 3;
   align-content: center;
   padding-left: 120px;
   line-height:1.5;
 }
#contact .con ul.list::before{
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin-left: 110px;
  background-image: url(../img/bo2.jpg);
  background-position: top;
  background-size: cover;
  position: absolute;
  left: 0;
  transform: scale(2.1) translateY(18%) translateX(-25%);
  border-radius: 0 20px 50px 0;
  opacity: 1;
  z-index: -1;
}
 #contact  ul.list li {
   
 }
 #contact ul.list li strong {
   
 }
 #contact  a.qna {
  grid-column: 2; 
  grid-row: 5;  
  justify-self: center;
  background-color: #37db3b;
  align-self: baseline;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-family: "Jua", sans-serif;
  font-style: normal;
 }
#contact a.qna:hover {
  content:"";
  background-color: #fcce1a;
}
 #contact ul.sns {
   grid-column: 1;
   grid-row: 3 / span 2;
   position: relative;
   display:flex;
   font-size:0;
   column-gap:10px;
   justify-self: center;
   align-items: end;
}
 #contact .con ul.sns li{
  position: relative;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  background-color:#fff; 
  border-radius: 10%;  
  z-index:3;
 }
 #contact .con ul.sns li a{
  content: "";
  width: 80%;
  height:80%;
  align-items: center; 
  display:block; 
  left: 10%; 
  bottom:10%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index:1;
 }
#contact  ul.sns li:nth-child(1) a{
 background-image: url(../img/ka.png);
 }
#contact ul.sns li:nth-child(2) a{
 background-image: url(../img/in.jpg);
 }
#contact ul.sns li:nth-child(3) a{
 background-image: url(../img/gm.png);
 }
 #contact  h3 {
 }
 #contact .con{
   display:grid;
   grid-template-columns:1fr 1fr;
   grid-template-rows:auto auto auto auto auto;
   row-gap: 20px;
 }
 #contact .sourcesite {
   grid-column: 2;
   grid-row: 1 / span 4;
 }
 #contact .sourcesite h3 {
 text-shadow: 3px 1px #fff;
 font-size: 20px;
 color: #000;
 text-align: center;
 line-height: 3;
 }
 #contact .sourcesite p {
 color: #683e1e;
 }
#contact ul.src {
  gap: 10px;
  flex-wrap: wrap;
  justify-content: right;
}
#contact ul.src li {
  /*! background-color: #ccc; */
  width: calc((100% - 50px) / 4);
  /*! height:90px; */
  /*! width: 140px; */
}
#contact ul.src li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff; 
  border-radius:8px;  
}
#contact ul.src li a::before{
  content: "";
  width: 60%;
  height: 60px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#contact ul.src li:nth-child(1) a::before{
  background-image: url(../img/db.png);
}
#contact ul.src li:nth-child(2) a::before{
  background-image: url(../img/p.png);
}
#contact ul.src li:nth-child(3) a::before{
  background-image: url(../img/px.jpg);
}
#contact ul.src li:nth-child(4) a::before{
  background-image: url(../img/un.png);
}
#contact ul.src li:nth-child(5) a::before{
  background-image: url(../img/gf.jpg);
}
#contact ul.src li:nth-child(6) a::before{
  background-image: url(../img/cv.jpg);
}
#contact ul.src li:nth-child(7) a::before{
  background-image: url(../img/ad.png);
}
#contact ul.src li:nth-child(8) a::before{
  background-image: url(../img/gl.png);
}
/* sns */
#sns{
}
.snsani li a{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 20px;
  row-gap: 12px;
  width: fit-content;
  margin: 0 auto;
  transition: 0.7s;
}
.snsani li a::before{
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1 / span 2;
}
.snsani li.sns1 a::before{
  background-image: url(../img/bo1.jpg); 
}
.snsani li.sns2 a::before{
  background-image: url(../img/bo2.jpg); 
}
.snsani li.sns3 a::before{
  background-image: url(../img/bo3.jpg); 
}
.snsani li.sns4 a::before{
  background-image: url(../img/bo5.jpg); 
}
.snsani li.sns5 a::before{
  background-image: url(../img/bo.jpg); 
}
.snsani li.sns6 a::before{
  background-image: url(../img/bo.jpg); 
}
.snsani li.sns7 a::before{
  background-image: url(../img/1.jpg); 
}
.snsani li.sns8 a::before{
  background-image: url(../img/2.jpg); 
}
.snsani li.sns9 a::before{
  background-image: url(../img/3.png); 
}
.snsani li a h3{
  grid-column: 2;
  grid-row: 1;
}
.snsani li a p{
  grid-column: 2;
  grid-row: 2;
}
#sns{
  padding-bottom: 20px;
  background-color: #fff4e4;
}
#sns h2{
  margin-top: 20px;
  text-align: left;
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0.2;
  font-weight: bold;
}
#sns .slick-prev::before{ 
  color: red;
   left: -40px;
}
#sns .slick-next::before{ 
  color: red;
  right: -40px;
}
#sns .slick-slide{
  padding-top: 50px;
  padding-bottom: 20px;
}
.currentSns{
  box-shadow: 0px 0px 30px #666;
}
/* 하단 */
footer {
  background-color: #333;
  color: #D1D1D1;
}
footer a{
  color:#fff;
}
footer div.wrap {
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  column-gap: 50px;
}
footer div.wrap h1 {
  
}
footer div.wrap h1 a {
  
}
footer div.wrap address {
  
}
footer div.wrap ul.sns {
  justify-self: right;
  column-gap: 10px;
}
footer div.wrap ul.sns li {
  
}
footer div.wrap ul.sns li a {
  
}
footer div.wrap ul.fnb {
  grid-column: 1 / span 3;
  grid-row: 2;
  transform: translateX(-20px);
  margin-bottom: 21.44px;
}
footer div.wrap ul.fnb li {
  
}
footer div.wrap ul.fnb li a {
  padding: 10px 20px;
}
footer div.wrap p {
  grid-column: 1 / span 3;
  grid-row: 3;
}


