@media screen and (max-width:1200px){
  .wrap{
    width: 100%;
    padding: 0 15px;

  }
  .h3 {
    font-size:calc(100% * 0.8);
  }
  .h4 {
    font-size:calc(100% * 0.8);
  }
  #aboutme p{
    font-size:calc(100% * 0.8);
  }
  #portfolio p{
    font-size:calc(100% * 0.8);
  }
  #contact p{
    font-size:calc(100% * 0.8);
  }

  header{
  }
  header .wrap nav{    
    row-gap: 0px;
  }
  header .wrap nav h1{
    grid-column: 1;
    justify-self: left;
  }
  header .wrap nav ul.gnb{
    grid-column: 1 / span 2;
    justify-self: center;
  }
  header .wrap nav ul.gnb li a{
    padding: 20px 20px;
  }
  header .wrap nav ul.enb{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
  header .wrap nav ul.enb li a{
    padding: 10px 8px;
  }
  /*  타이틀  */
  div#title{
    height: auto;
  }
  div#title .wrap{
    /*! margin-left: -15px; */
    /*! margin-right: -15px; */
    padding: 0;
  }
  div#title figure{
    /*! overflow: hidden; */
    height: 480px;
    display: flex;
  }
  div#title .wrap img{
    width: 100%;
    /*! min-height: 100%; */
    object-fit: cover;
    object-position: center;  
  }
  /* 컨텐츠   */
  #product ul.list li figure img{
    vertical-align: top;
  }
  #product ul.list li h3 {
    font-size:calc(27px * 0.8);
  }
  #sns{
    padding: 20px 0;
  }
  #sns .snsani button.slick-prev {
  left: -50px;
  }
  #sns .snsani{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #sns .h3{
    margin-bottom: 50px; 
  }
  #sns br{
    display: none;
  }
  .snsani li a::before{
    width: 90px;
    height: 90px;
  }
  .snsani li a p{
    max-width: 250px;
  }
  footer div.wrap ul.fnb li ul.sublist{
    display: none;
  }
  footer div.wrap ul.fnb li:nth-child(1) ul.sublist{
    display: none;
  }
  footer div.wrap ul.fnb2{

    margin-top: 0;
    transform: translateX(0px);
    margin-left: -15px;
    margin-right: -15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    width: auto;
  }
  footer div.wrap ul.fnb2 li:nth-child(1){
    grid-column: 1;
  }
  footer div.wrap ul.fnb2 li:nth-child(6)::before{
    display: none !important;
  }

}
/* 768 ------------------------------------------------------------------------------ */
@media screen and (max-width:768px){ 
  body{
    width: 100%;
  }
  header{
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  header div.wrap nav{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  header div.wrap nav h1{
    grid-column: 1;
    justify-self: left;
  }
  header div.wrap nav ul.gnb{
    display: none;
  }
  header div.wrap nav ul.enb{
    display: none;
  }
  header div.wrap .ham{
    display: flex;
    justify-self: right;
  }
  header div.wrap .ham::before{
  }
  div.wrap {
    padding: 0 15px;
    height: 100%;
    width: 100%;
  }

  /*  타이틀  */
  div#title div.wrap{
  }
  div#title div.wrap h2{
    font-size: 30px;
  }
  div#title div.wrap p{
    font-size: 15px;
  }
  /*  aside  */
  aside{ 
    position: fixed;
    left: 450px;
    top: calc(50% - 150px);
    z-index: 10;
  }
  /* aboutme   */
  #aboutme div.wrap {
    padding-top:220px; 
    flex-direction: column;
    display: flex;
    align-items: center;
  } 
  #aboutme div.wrap ul.intro li:nth-child(1) p {
    font-size: 20px;
    width: 100%;
    font-weight: lighter;
  }
  #aboutme div.wrap figure{
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 2;
    width:350px;
    height:300px;
    display:block;
    justify-self: center;
    margin-left: -10px;
  }
  #aboutme div.wrap figure img{
    width: 300px;
    height: 320px;
  } 
  #aboutme div.wrap ul.intro {
    padding: 50px;
  }

  #aboutme div.wrap ul.intro li h3 {
    font-size: 15px;
    font-weight: bold;
  }
  #aboutme div.wrap ul.info {   
    grid-column: 1;
    grid-row: 5;
  }
  #aboutme div.wrap ul.intro li p {
    width: calc(100% - 100px);
    font-size: 12px;
    line-height: 1.2;
  }
  #process div.wrap{
    width: 100%;
    position: relative;
  }
  #process div.wrap .ly {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #process div.wrap .wnews li a h3 {
    overflow: hidden;
    font-size: 13px;
  }
  #process div.wrap div.ly:before{
  content: "";
  display: block;
  position: absolute;
  bottom: -100px;
  z-index: -1;
  width: calc(100% + ((100vw - 500px) / 2));
  height: 100%;
  background-color: #fff4e4;
  border-radius: 15px;
  }


  /*  프로그램 */
  #portfolio {
  }
  #portfolio div.wrap {
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #portfolio div.wrap p {
  font-size: calc(50px * 0.6);
  margin-left: 5px;
}
  #portfolio div.wrap ul.list li div h3{
    font-size: 23px;
    text-align: center;
    grid-column: 1 ;
    grid-row: 1;
  }
  #portfolio .wrap .list .slick-prev{
    left: -10px;
    top: calc((60% + 60px) * 0.6);
  }
  #portfolio .wrap .list .slick-next{
    right:-10px;
    top: calc((60% + 60px) * 0.6) ;
  }
  #portfolio div.wrap ul.list li p {
    line-height: 1.2;
    color: #fff;
    font-size: 12px;
  }
  #portfolio div.wrap ul.list li{
    width:100%;
    align-items: center;
    padding-left: 20px;
  }
  #portfolio div.wrap ul.list li figure img{
    width: 220px;
    height: 200px;
  }

  /*  활동분야  */
  #product{
    height: auto;
  }
  .h2{
    font-size: calc(50px * 0.6);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    width: 100% !important;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a5854f;
  }
  div.wrap p{
    font-size: calc(100% * 0.6);
  }
  section::before {
    position: absolute;
    left: 0;
    top: 0px;
    text-align: center;
    color: #000;
    margin-left: 0;
  }
  #product div.wrap {
    width: 100%;
  }
  .h3 {
    font-size:calc(35px * 0.7 );
  }
  #product div.wrap h2{
    margin-bottom:15px;
  }
  #product ul.list{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -100px;
  }
  #product ul.list li{
    position: relative;
  }

  #product ul.list li:nth-child(1){
    grid-column: 1;
    grid-row: 1;
  }
  #product ul.list li:nth-child(2){
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  #product ul.list li:nth-child(3){

    grid-column: 1;
    grid-row: 2;
  }
  #product ul.list li:nth-child(4){
    grid-column: 1;
    grid-row: 3;
    align-content: center;
  }
  #product ul.list li:nth-child(5){
    grid-column: 2;
    grid-row: 3;
  }
  #product ul.list li:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  #product ul.list li:nth-child(7){
    grid-column: 1;
    grid-row: 5;
  }
  #product ul.list li:nth-child(8){
    grid-column: 1 / span 2;
    grid-row: 6;
  }
  #product ul.list li:nth-child(9){
    grid-column: 2;
    grid-row: 5;
    align-content: center;
  }
  #product ul.list li:nth-child(10) {
    grid-column:1 / span 2;
    grid-row: 7;
  }
  #product ul.list li figure img {
    vertical-align: top;
  }
  /*buss */
  section#business div.wrap h1 {
    font-size:calc(120px * 0.6);
    margin:20px 0px;
    padding: 0px;
  }
  section#business div.wrap div ul.bus li.giv a h3{
    font-size:calc(100% * 0.8);
    margin-bottom: -25px;
  }
  section#business div.wrap{
    min-width:1440px;
  }
  section#business div.wrap div ul.bus li.giv a h4.h6{
    font-size:calc(100% * 0.7);
    padding-top:60px;
  }
  section#business div.wrap div ul.bus li.giv a button {
    font-size:calc(100% * 0.7);
    width: 11px;
  }
  section#business div.wrap div ul.bus{
  }
  section#business div.wrap p{
    font-size: calc(22px * 0.8);
    margin:20px 0 100px;
  }
  section#business div.wrap div ul.bus li.giv {
    position: relative;
    width: calc((840px/ 2) * 0.8);
    height: calc((1200px/ 3) * 0.8);
  }
  section#business div.wrap div ul.bus li.giv a{
    content:"";
    width: calc((840px / 2) * 0.8 - 30px);
    height: calc((1200px / 3) * 0.8 - 30px);
  }
  #contact{
    width: 100%;
    max-height: 500px;
  }
  #contact .con ul.list{
    font-size:calc(100% * 0.6); 
  }
  #contact .sourcesite h3 {
    font-size:calc(100% * 0.8);
  }
  #contact .con ul.list::before {
    transform: scale(1.7) translateY(11%) translateX(-35%);
  }
  #contact ul.src li {
    width: calc((100% - 10px) / 2);
    font-size: 12px;
  }
  /* sns */
  #sns{
    padding: 50px 0;
    z-index: -1;
  }
  #sns .snsani{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #sns .h3{
    margin-bottom: 50px; 
  }
  #sns br{
    display: none;
  }
  .snsani li a::before{
    width: 90px;
    height: 90px;
  }
  .snsani li a p{
    max-width: 250px;
  }
  /*  하단*/
  footer div.wrap ul.fnb li ul.sublist {
    display: none;
  }
  footer div.wrap ul.fnb li:nth-child(1) ul.sublist{
    display: none;
  }
  footer div.wrap ul.fnb{
    justify-content: space-between;
    text-wrap: nowrap;
  }
  footer div.wrap ul.fnb li h2{
    margin-bottom: initial;
  }
  footer div.wrap ul.fnb li a{
    font-size: 11px;
    text-wrap: nowrap;
  }
  footer div.wrap h1 addres.h4 {
    font-size: 10px;
    text-wrap: nowrap;
  }
  footer div.wrap ul.sns li a{
    font-size: 10px;
    text-wrap: nowrap; 
  }
  footer div.wrap ul.fnb2{
    transform: translateX(0);
    width: auto;
    margin: 10px 0 15px;
    grid-template-columns: repeat(4,auto);
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
  }
  footer div.wrap ul.fnb2 li:nth-child(1){
    grid-column: 1;
  }
  footer div.wrap ul.fnb2 li a{
    padding: 0 5px;
    font-size: 12px;
  }
  footer div.wrap p{
    font-size: 11px;
    flex-wrap: no-wrap; 
  }
  footer div.wrap ul.fnb2 li:nth-child(5)::before{
    border: none !important;
  }
  footer div.wrap ul.fnb2 li:nth-child(8){
    grid-column: 1;
    grid-row: 3;
  }
  footer div.wrap ul.fnb2 li:nth-child(9){
    grid-column: 2;
    grid-row: 3;
  }

}



